.chakra-form-control {
  max-width: 400px;
}
.chakra-button {
  height: 47px !important;
  width: 100%;
  border-radius: 12px !important;
}
.chakra-button:not(.outline) {
  background-color: var(--chakra-colors-primary) !important;
  color: #ffffff !important;
  max-width: 400px;
}

input {
  border-radius: 12px !important;
  height: 51px !important;
}
